**Police Dataset**

Here, 

The data from a Police Check Point is given
This data is available as a csv file. We are going to analyze this data set using the Pandas DataFrame

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/3. Police Data.csv')
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55736,1/18/2012,10:05,NaN,M,1952.0,60.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55737,1/18/2012,10:12,NaN,M,1955.0,57.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
55738,1/18/2012,10:24,NaN,M,1983.0,29.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
55739,1/18/2012,10:36,NaN,F,1982.0,30.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55740,1/18/2012,10:48,NaN,M,1986.0,26.0,White,Other Traffic Vi,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Instruction (For data cleaning)**

**1. Remove the column that only contains missing values**

In [4]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          55741
driver_gender          3550
driver_age_raw         3543
driver_age             3788
driver_race            3549
violation_raw          3549
violation              3550
search_conducted          1
search_type           53572
stop_outcome           3550
is_arrested            3550
stop_duration          3550
drugs_related_stop        1
dtype: int64

In [5]:
data.drop( columns = 'country_name' , inplace = True)

In [6]:
data

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55736,1/18/2012,10:05,M,1952.0,60.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55737,1/18/2012,10:12,M,1955.0,57.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
55738,1/18/2012,10:24,M,1983.0,29.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
55739,1/18/2012,10:36,F,1982.0,30.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55740,1/18/2012,10:48,M,1986.0,26.0,White,Other Traffic Vi,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Question ( Based on filtering + Value Counts )**

**2. For Speeding , were Men or Woman stopped more often ?**

In [7]:
data.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [8]:
data[data.violation == 'Speeding'].driver_gender.value_counts()

M    22985
F    10306
Name: driver_gender, dtype: int64

**Question ( Groupby )**

**3. Does gender affect who gets searched during a stop ?**

In [9]:
data.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [10]:
data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     319
M    1850
Name: search_conducted, dtype: object

In [11]:
data.search_conducted.value_counts()

False    53571
True      2169
Name: search_conducted, dtype: int64

**Question ( mapping + data-type casting )**

**4. What is the mean stop_duration ?**

In [12]:
data.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
data.stop_duration.value_counts()

0-15 Min     39505
16-30 Min    10291
30+ Min       2395
Name: stop_duration, dtype: int64

In [14]:
data['stop_duration'] = data['stop_duration'].map({'0-15 Min' : 7.5 , '16-30 Min' : 24 , '30+ Min' : 45} )

In [15]:
data

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55736,1/18/2012,10:05,M,1952.0,60.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,7.5,False
55737,1/18/2012,10:12,M,1955.0,57.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,24.0,False
55738,1/18/2012,10:24,M,1983.0,29.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,7.5,False
55739,1/18/2012,10:36,F,1982.0,30.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,7.5,False
55740,1/18/2012,10:48,M,1986.0,26.0,White,Other Traffic Vi,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data['stop_duration'].mean()

12.474305914812899

**Question ( Groupby , Describe )**

**5. Compare the age distribution for each violation.**

In [17]:
data.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [18]:
data.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,4651.0,31.445066,11.254693,16.0,23.0,28.0,38.0,81.0
Moving violation,9143.0,37.443837,13.366037,15.0,26.0,36.0,47.0,86.0
Other,3019.0,40.752236,12.641914,16.0,30.0,41.0,50.0,86.0
Registration/plates,1921.0,32.412285,10.957909,16.0,24.0,29.0,40.0,73.0
Speeding,33213.0,33.164875,12.561022,15.0,23.0,30.0,42.0,88.0